# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DEP - IJSE\Suranga Sir Recodings\DEP 5\DEP 5 Projects\Orginal Leyard JIT Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
